*{
    margin: 0px;
    padding: 0px;

    font-family: "Roboto Slab", serif;
}

div header{
    background-color: #0A1F54;
    color: white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    & a{
        text-decoration: none;
        color: white;
    }
}

main{
    margin-top: 100px;

    & h3{
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
}

textarea{
    resize: none;
}

.table-responsive{
   & button{
        margin: 5px 5px 5px 0px;
        width: 90px;
    }

    & thead{
        border-top: 1px solid rgba(114, 114, 114, 0.432);
    }
}