* {
    font-family: "Roboto Slab", serif;
  }

  .pagina-cliente {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .pagina-cliente h2 {
    margin-top: 0;
  }

  .pagina-cliente .dados-cliente {
    margin-top: 20px;
  }

  .pagina-cliente .dados-cliente label {
    display: block;
    margin-bottom: 10px;
  }

  .pagina-cliente .dados-cliente input[type="text"],
  .pagina-cliente .dados-cliente input[type="email"],
  .pagina-cliente .dados-cliente input[type="password"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-input{
    display: flex;
    justify-content: center;
    gap: 10px;
  }