
*{
    padding: 0px;
    font-family: "Roboto Slab", serif;
}


#carousel-1{
    margin: 77px auto 60px auto;
}

.carousel-inner img {
    height: 650px; 
    object-fit: cover;
    width: 100%;
}

.carousel-caption h5{
    font-size: 2rem;
    text-shadow: 0px 0px 3px black;  
}

.carousel-caption p{
    font-size: 1.3rem;
    text-shadow: 0px 0px 3px black;  
}

main{
    padding: 10px;
    margin-top: 60px;
}

.secoes{
    max-width: 1420px;
    margin: 0px auto 100px auto;
}


.card{
    padding: 0px;
    margin: 0px auto;
    margin-bottom: 30px;

    & .card-body{

        & a{
            padding: 10px;
            border-radius: 2px;
            text-decoration: none;
            font-weight: bolder;
            color: white;
            transition: 0.1s;
            border-radius: 3px;
        }

        
    }
}

.row{
    margin: auto;
}

.h3{
    border-radius: 5px;
    font-size: 2.2rem;
    color: #0f2e7f;
    font-weight: bolder;
    margin: 30px 0px 40px 0px;
    text-align: center;
}



.sobre-area{
    background: url(../assets/nupsi2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 10px;
}


.sobre-texto{
    background-color: rgba(0, 0, 0, 0.555);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.5rem;
    text-indent: 20px;
    max-height: 100%;
    text-align: justify;
    
    
}

.accordion{
    border: 1px solid #0f2f7f9d;
    border-radius: 7px;
}

.accordion-item{
    border: 1px solid #0f2f7f9d;
}

.accordion-button{
    padding: 30px;
}

#video{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#video iframe{
    border-radius: 10px;
}



#pessoas{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
   
    
    & a{
        text-decoration: none;
        color: black;
    }


    & #pessoas-texto{
       
        max-width: 500px;
        text-align: center; 
        padding: 0px 0px 40px 0px;
        gap: 0px;
        display: flex;
       
    
    }
    
    & p{
        font-size: 1.5rem;
        transition: 0.15s;
        margin: 0px;
    }

    & #pessoas-texto:hover > p{
        scale: 1.05;
        cursor: pointer;
        border-radius:5px;
    }


    & img{
        width: 600px;
        height: 300px;
        border-radius: 10px;
    }
}

.contatos{

    width: 100%;
    display: flex;
    gap: 20px;
    
    & #contato-maps{
        width: 50%;
    }
    
    & iframe{
        width: 100%;
        height: 400px;
        border-radius: 3px;
        
    }

    & form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        
    }

    & input, textarea{
        width: 100%;
        outline: none;
        padding: 10px;
        border: 1px solid #636161;
        border-radius: 3px;
        
    }

    & input:hover::placeholder,
    input:focus::placeholder,
    textarea:hover::placeholder,
    textarea:focus::placeholder
    {
        color: #0f2e7f;
        transition: 200ms;
    }

    

    & input:focus,
    input:hover,
    textarea:focus,
    textarea:hover{
        border: 1px solid #0f2e7f;
    }

    & .textarea{
        
        display: flex;
        flex-direction: column;
        gap: 10px;

        & button{
            padding: 10px;
            outline: none;
            justify-content: right;
            border-radius: 2px;
        }
    }
    
    & textarea{
        resize: none;
        height: 170px;
        
    }

    & #contato-texto{
        width: 50%;
        & h4{
            color: #0f2e7f;
            text-align: center;
        }

    & p{
        text-align: center;
    }
    
    & .nome-email{
        display: flex;
       
        gap: 20px;
    }

    & .nome-email > div{
        width: 50%;

    }

    }

}

footer{
    background-color: #0A1F54;
    height: auto;
    padding: 40px 30px;
    color: white;
    border-top: 1px solid #012356;
}

footer h3{
    margin: 30px 0px 15px 0px;
}

footer .hr{
    max-width: 1420px;
    border: 1px solid #fff;
    margin: auto;
}


.footer-content{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: 10px;
    padding: 10px;
}

.footer-card{
    max-width: 400px;
    

    & a{
        
        color: white;
    }
}

footer .rights{
    margin: 20px auto 0px auto;
    text-align: center;
}

.container-fluid, .col{
    padding: 0px;
}

.animate{
    transform: translateY(20px);
    opacity: 0;
    transition: 1s ease;
}

.animate--visible{
    transform: translateY(0);
    opacity: 1;
}


@media screen and (max-width: 767px){

    main{
        margin-top: 40px;
    }

    .secoes{
        margin: 0px auto 60px auto;
    }

    .h3{
        font-size: 1.8rem;
    }

    .sobre-texto{
        font-size: 1rem;
    }

    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }

    .contatos{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        & #contato-maps{
            width: 100%;
        }
        
        & iframe{
            width: 100%;
            height: 400px;
        }
    
        & #contato-texto{
            width: 100%;
        }

        & textarea{
            height: 200px ;
        }
    
    }

    

    .carousel-inner img {
        height: 400px; 
        object-fit: cover;
        width: 100%;
      }

      
      #pessoas{
        gap: 20px;

        & img{
            width: 100%;
            height: 100%;
        }
      }

      .footer-content{
        justify-content: space-between;
      }


      .participant-card{
        flex-direction: column-reverse;

        & img{
            max-width: 100%;
           
            
        }
      }
     
}

@media screen and (max-width: 350px){
    #pessoas{

        & #pessoas-texto{
            overflow-y: auto;
        }
        
        & p{
            font-size: 1.2rem;
            transition: 0.15s;
            margin: 0px;
        }
    }
}