
*{
    padding: 0px;
    font-family: "Roboto Slab", serif;
}


.carousel-inner img {
    height: 650px; 
    object-fit: cover;
    width: 100%;
  }

#carousel-1{
    margin: 80px auto 60px auto;
}

main{
    padding: 10px;
}

.secoes{
    max-width: 1300px;
    margin: 0px auto 60px auto;
}

.card{
    padding: 0px;
    margin: 0px auto;

    & .card-body{

        & a{
            background-color: #6c9eea;
            padding: 10px;
            border-radius: 2px;
            text-decoration: none;
            font-weight: bolder;
            color: white;
            transition: 0.1s;
        }

        & a:hover{
            background-color: #0d6efd;
            
        }
    }
}

.row{
    margin: auto;
}

.h3{
    border-radius: 5px;
    font-size: 2.2rem;
    color: #0f2e7f;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: center;
}



.sobre-area{
    background: url(../assets/nupsi2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 10px;
}


.sobre-texto{
    background-color: rgba(0, 0, 0, 0.304);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.5rem;
    text-indent: 20px;
    max-height: 100%;
    text-align: justify;
    
    
}

#video{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#video iframe{
    border-radius: 10px;
}

#section-pessoas{
    & #h3-pessoas{
       text-align: center; 
    }
}

#pessoas{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
   
    & a{
        text-decoration: none;
        color: black;
    }


    & #pessoas-texto{
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        max-width: 500px;
        text-align: center; 
        padding: 20px;
        height: 300px;
        display: flex;
        align-items: center;
    
    }
    
    & p{
        font-size: 1.5rem;
        transition: 0.15s;
        margin: 0px;
    }

    & #pessoas-texto:hover > p{
        scale: 1.05;
        cursor: pointer;
        border-radius:5px;
    }


    & img{
        width: 600px;
        height: 300px;
        border-radius: 10px;
    }
}

footer{
    background-color: #0A1F54;
    height: auto;
    padding: 40px 30px;
    color: white;
    border-top: 1px solid #012356;
}

footer h3{
    margin: 30px 0px 15px 0px;
}



.footer-content{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: 10px;
    padding: 10px;
}

.footer-card{
    max-width: 400px;
}

.container-fluid, .col{
    padding: 0px;
}


@media screen and (max-width: 767px){


    .h3{
        font-size: 1.8rem;
    }

    .sobre-texto{
        font-size: 1rem;
    }

    .row{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px;
    }

    

    .carousel-inner img {
        height: 400px; 
        object-fit: cover;
        width: 100%;
      }

      
      #pessoas{
        gap: 20px;

        & img{
            width: 100%;
            height: 100%;
        }
      }

      .footer-content{
        justify-content: space-between;
      }

     
}

@media screen and (max-width: 350px){
    #pessoas{

        & #pessoas-texto{
            overflow-y: auto;
        }
        
        & p{
            font-size: 1.2rem;
            transition: 0.15s;
            margin: 0px;
        }
    }
}